<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
    <meta charset="utf-8">
     <!-- Google Anlytics (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZS2W4FEGWR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZS2W4FEGWR');
</script>  
    <title>Iniciar sesión Tv Ajds'</title>
    <link rel='stylesheet' href='/stylesheets/singin.css'/>
 </head>
 <body>
    <section>
      <div class="imgBx">
        <img src="https://previews.123rf.com/images/peopleimages12/peopleimages122303/peopleimages12230303667/199580582-retrato-de-tecnolog%C3%ADa-de-la-informaci%C3%B3n-circuito-de-placa-base-y-hombre-reparando-hardware-de.jpg" alt="">
      </div>
      <div class="contentBx">
        <div class="formBx">
          <h2> Iniciar sesión </h2>
          <form class="" action="/signin" method="post">
            <div class="inputBx">
              <span>Correo electrónico </span>
              <input type="email" name="email" value="" required>
            </div>
            <div class="inputBx">
              <span>Contraseña </span>
              <input type="password" name="password" value="" required>
            </div>           
            <div class="inputBx">              
              <input type="submit" name="" value="Iniciar sesión">
            </div>
            <div class="inputBx">
              <p> ¿No tienes una cuenta? <a href="/signup"> Registrarse </a></p>
            </div>
          </form>        

        </div>
      </div>
    </section>
 </body>
</html>